.all_items{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.all_items h1{
    font-size: 60px;
    color: white;
}

.login_items{
    width: 400px;
    background-color: white;
    height: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 25px;
}

.login_items button{
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    background-color: greenyellow;
    font-weight: bolder;
    color: white;
    font-size: 16px;
}

.login_items .inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login_items .inputs input{
    padding: 8px 18px;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 2px solid green;
}