.users {
    width: 100%;
}

button {
    cursor: pointer;
}

.add_user_modal {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    /* background-color: #fff; */
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_user_modal form {
    width: 35%;
    border-radius: 15px;
    border: 1px solid #ddd;
    padding: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 5px #ddd;
    position: relative;

    svg {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 18px;
        cursor: pointer;
    }

    h3 {
        text-align: center;
        margin-bottom: 40px;
    }

    label {
        font-size: 14px;
    }

    input {
        margin-bottom: 20px;
        border-radius: 3px;
        height: 27px;
        border: 1px solid #444;
        outline: none;
        text-indent: 10px;
        font-size: 17px;
    }

    button {
        background-color: dodgerblue;
        color: #fff;
        border: none;
        border-radius: 3px;
        height: 27px;
        font-size: 17px;
        cursor: pointer;
    }

}

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    margin: auto;
    margin-top: 200px;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    --c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
    background:
        var(--c) 50% 0,
        var(--c) 50% 100%,
        var(--c) 100% 50%,
        var(--c) 0 50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
}

.loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear
}

@keyframes l12 {
    100% {
        transform: rotate(.5turn)
    }
}

.editwindow {
    width: 100%;
    height: calc(100vh - calc(70px + 20px));
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: white;
}

.editwindow svg {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    cursor: pointer;
}

.inf {
    width: 600px;
    height: 500px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 15px;
    box-shadow: 0px 0px 10px rgb(163, 163, 163);
    position: relative;
}

.inf button {
    padding: 11px 21px;
    border: none;
    background-color: dodgerblue;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.lablel {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lablel input {
    padding: 8px 15px;
    outline: non;
}